// Pinnacle21 Palette
$primary: #2CB0BC;
$link-color: #1696A3;
$orange: #F58220;
$gray-100: #F8F9FA;
$gray-200: #EEEEEE;
$gray-400: #BDBDBD;
$gray-800: #333333;
$white: #FFFFFF;
$body-bg: $gray-200;

$font-dark: $gray-800;

$border: $gray-400;

$btn-shadow: #00000066;

$container-bg: $gray-100;
$container-shadow: 0 1px 3px 0 #0000001A;

